@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
body {
  background-color: #ffde6b;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#prelo {
  position: relative;
  margin: 0 auto;
  top: 25vh;
  width: 100vw;
  text-align: center;
  font-family: 'Amatic SC';
  font-size: 6vh;
  color: #333;
  opacity: .75;
  animation: pulse 2.5s linear infinite;
}

#cooking {
  position: relative;
  margin: 0 auto;
  top: 0;
  width: 75vh;
  height: 75vh;
  overflow: hidden;
}
#cooking .bubble {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 0.25vh #4d4d4d;
  opacity: 0;
}
#cooking .bubble:nth-child(1) {
  margin-top: 2.5vh;
  left: 58%;
  width: 2.5vh;
  height: 2.5vh;
  background-color: #454545;
  animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
}
#cooking .bubble:nth-child(2) {
  margin-top: 3vh;
  left: 52%;
  width: 2vh;
  height: 2vh;
  background-color: #3d3d3d;
  animation: bubble 2s ease-in-out .35s infinite;
}
#cooking .bubble:nth-child(3) {
  margin-top: 1.8vh;
  left: 50%;
  width: 1.5vh;
  height: 1.5vh;
  background-color: #333;
  animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}
#cooking .bubble:nth-child(4) {
  margin-top: 2.7vh;
  left: 56%;
  width: 1.2vh;
  height: 1.2vh;
  background-color: #2b2b2b;
  animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
}
#cooking .bubble:nth-child(5) {
  margin-top: 2.7vh;
  left: 63%;
  width: 1.1vh;
  height: 1.1vh;
  background-color: #242424;
  animation: bubble 1.6s ease-in-out 1s infinite;
}
#cooking #area {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-color: transparent;
  transform-origin: 15% 60%;
  animation: flip 2.1s ease-in-out infinite;
}
#cooking #area #sides {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 15% 60%;
  animation: switchSide 2.1s ease-in-out infinite;
}
#cooking #area #sides #handle {
  position: absolute;
  bottom: 18%;
  right: 80%;
  width: 35%;
  height: 20%;
  background-color: transparent;
  border-top: 1vh solid #333;
  border-left: 1vh solid transparent;
  border-radius: 100%;
  transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
}
#cooking #area #sides #pan {
  position: absolute;
  bottom: 20%;
  right: 30%;
  width: 50%;
  height: 8%;
  background-color: #333;
  border-radius: 0 0 1.4em 1.4em;
  transform-origin: -15% 0;
}
#cooking #area #pancake {
  position: absolute;
  top: 24%;
  width: 100%;
  height: 100%;
  transform: rotateX(85deg);
  animation: jump 2.1s ease-in-out infinite;
}
#cooking #area #pancake #pastry {
  position: absolute;
  bottom: 26%;
  right: 37%;
  width: 40%;
  height: 45%;
  background-color: #333;
  box-shadow: 0 0 3px 0 #333;
  border-radius: 100%;
  transform-origin: -20% 0;
  animation: fly 2.1s ease-in-out infinite;
}

@keyframes jump {
  0% {
    top: 24%;
    transform: rotateX(85deg);
  }
  25% {
    top: 10%;
    transform: rotateX(0deg);
  }
  50% {
    top: 30%;
    transform: rotateX(85deg);
  }
  75% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(85deg);
  }
}
@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-27deg);
  }
  30%,
  50% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(27deg);
  }
  83.3% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes switchSide {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes fly {
  0% {
    bottom: 26%;
    transform: rotate(0deg);
  }
  10% {
    bottom: 40%;
  }
  50% {
    bottom: 26%;
    transform: rotate(-190deg);
  }
  80% {
    bottom: 40%;
  }
  100% {
    bottom: 26%;
    transform: rotate(0deg);
  }
}
@keyframes bubble {
  0% {
    transform: scale(0.15, 0.15);
    top: 80%;
    opacity: 0;
  }
  50% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0.33, 0.33);
    top: 60%;
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: .25;
  }
  50% {
    transform: scale(1.2, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: .25;
  }
}


.navbar-nav li a{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.728);
    
}
.navbar-nav li a:hover{
    color: rgb(230, 163, 174);
    transition: .3s ease-in-out;
}

.carousel-item::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 1s ease-in-out;
}
#carousel1 .carousel-indicators button{
    height: 50px;
    width:50px;
    border-radius: 50%;
    background-position: center;
    z-index: 55;
    background-size: cover;
}
.carousel-indicators button.active{
    border: 3px solid white;
    transform: scale(1.1);
}
.carousel-indicators{
    position: relative; 
}
#carousel1  .carousel-controls{
    bottom: 0.5px;
    position: absolute;
    z-index: 10;
}
#carousel1 .carousel-control-next, .carousel-control-prev{
    top: -20%;
    opacity: 1;
    z-index: 3;
    border-radius: 50%;
}
.carousel-control-next{
    right: 2%;
}
.carousel-control-prev{
    left:2%
}
.one {
    position: absolute;
    top:140px;
    bottom: 1.25rem;
    left: 5%;
    padding-top: 1.25rem;
    padding-bottom:12%;
    color: #fff;
    text-align: center;
    width: 50%;
    text-transform: capitalize;
}

.carousel-caption h2{
    font-size: 40px;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
    animation: anime 1s ease-in-out;
}
.one p{
    animation: anime2 1s ease-in-out;
} 
.secound{
    text-transform: capitalize;
    left: -50%;
    top: 20%;
    font-weight: bold;
    letter-spacing: 2px;
}
.secound h3{
    font-size: 50px;
    animation: anime 1s ease-in-out;

}
.secound h1{
    color: yellow;
    font-size: 50px;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 10px;
    animation: anime2 1s ease-in-out;

}
.secound h6{
    font-size: 20px;
    letter-spacing: 2px;
    animation: anime3 1s linear;

}
.three{
    text-transform: capitalize;
    left: -60%;
    top: 20%;
    font-weight: bold;
    letter-spacing: 2px;  
}
.three h3{
    font-size: 50px;
    animation: anime 1s ease-in-out;

}
.three h1{
    color: yellow;
    font-size: 50px;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 10px;
    animation: anime2 1s ease-in-out;

}
.three h6{
    font-size: 20px;
    letter-spacing: 2px;
    animation: anime3 1s ease-in-out;

}
.carousel-caption p{
    font-size: 15px;
    font-weight:normal;
    text-shadow: 2px 2px 2px  rgba(27, 27, 27, 0.482);
}
.weekly-special{
    position: absolute;
    bottom:20px;
    right: 50px;
    border: 2px solid yellow;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.47);
    text-align: center;   
}
.weekly-special span{
    right: 10px;
    top: -15px;
    width: 40%;
    position: absolute;
    background-color: red;
}
.weekly-special h4, h5{
    color: white;
    font-weight:900;
}
.weekly-special ul li{
    color: rgba(13, 255, 0, 0.718);
    padding-right: 8px;
}
.weekly-special sup{
    color: red;
    top: 0px;
    padding-right: 1px;
    font-size: 22px;
}
.weekly-special h5{
    font-size: 15px;
    letter-spacing: 1px;  
}
.RESTAURANT span::before{
    content: "";
    position: absolute;
    height: 25px;
    width: 2px;
    left: 38.5%;
    background-color: rgba(250, 85, 85, 0.718);
}
#restaurantss {
    position: relative;
}
#restaurantss p{
    position: absolute;
    top: 50%;
    left: 38%;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.743);
    
    } 
#dinner {
        position: relative;
    }
#dinner p{
        position: absolute;
        top: 55%;
        left: 35%;
        color: #fff;
        font-weight: bolder;
        text-transform: uppercase;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.743);
        } 
#bed{
    position: relative;  
  
}
#bed p{
    position: absolute;
    top: 50%;
    left: 45%;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.743);
   
}
#menu{
    font-family: 'Fredoka', sans-serif ; 
    font-weight: 700;
    color:rgba(0, 0, 0, 0.924);
    font-size: 40px;
    position: relative;
}
#menu::before{
    content: "";
    height: 6px;
    width: 20%;
    top: 50px;
    left: 40%;
    border-radius: 500px;
    background-color: #ffd40d;
    position: absolute;
    }
#menulist{
    margin-top: 50px;
    margin-bottom: 50px;
        
    }
#menulist .nav-item .nav-link{
        border: 3px solid rgb(217, 217, 217);
        margin-left: 10px;
        align-items: center;
        text-align: center;
        width: 145px;
        height: 125px;
    }
#menulist .nav-link.active{
        border: none;   
    }
.nav-pills .nav-link.active {
        background-color: #0fdfe2;
        position: relative;   
       
    }
.nav-pills .nav-link.active:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 40px;
        left: 0px;
        background-color: #0fdfe2;
        bottom: -19px;
        clip-path: polygon(49% 50%, 100% 50%, 50% 100%, 0% 50%);
    }
.nav-pills .nav-item .nav-link img{
        height: 70px;
        width: 70px;
    }
#menulist .nav-link:hover img{
        animation: .2s flip ease-in-out ;
    }

#menulist .nav-item a h6{
    color: black;
    font-family: 'Fredoka', sans-serif; 
    font-weight:700;
    text-align: center;
    text-transform:uppercase;
    }
.discover span{
        font-weight: bolder;
        font-size: 22px;
    }
.discover h4{
    font-size: 22px;
    text-transform: capitalize;
  }
.discover li:not(:last-child) {
        border-bottom: 1px dotted;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
#bbq,#cook {
        position: relative;
    }
#bbq img,#cook img{
        border-radius: 20px;
    }
#bbq h2,#cook h2{
        position: absolute;
        top: 10px;
        left: 15%;
        font-size: 42px;
        font-family: 'Fredoka', sans-serif;
        font-weight: 600; 
        color: blanchedalmond;
    }
#bbq p,#cook p{
        position: absolute;
        word-break: break-all; 
        word-spacing: 2px;     
        top: 80px;
        left: 15%;
        font-size: 15px;
        width: 35%;
        color: rgba(255, 255, 255, 0.852);
     }
#bbq .badge,#cook .badge{
        position: absolute;
        background-color: #ffd40d;
        left: 20%;
        bottom: -15%;
        align-items: center;
        text-align: center;
        padding: 20px;
     }
.badge span{
        font-size: 25px;
     }
#bbq .badge  h3,#cook .badge  h3{
        font-size: 15px;
        font-family: 'Fredoka', sans-serif;
        font-weight: 600;
        padding-top: 10%;
        color: black;
     }
     #Experiences{
        margin-top: 100px;
     }
     #Experiences p{
        color: #f3274c;
        font-family: 'Fredoka', sans-serif;
        letter-spacing: 1px;
        font-weight: 800;
     }
     #Experiences h3{
        font-weight: 700;
        text-align: center;
        align-items: center;
        font-size: 40px;
        font-family: 'Fredoka', sans-serif;
     }
     #Valentine{
        position: relative;
     }
     #Valentine img{
        height: 370px;
        width: 300px;
        margin-left: 500px;
        border-radius: 20px;
     }
     #Valentine .badge{
        top: 12%;
    border: 5px solid #ffd40d;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    outline: 10px solid #fff;
    background-color: white;
    position: absolute;
    text-align: center;
    padding-right: 50px;
    padding-top: 50px;
    padding-left: 10px;
    left: 10px;
   }
   #Valentine .badge h4{
    font-size: 15px;
    color: #000000;
    font-weight: 700px;
    font-family: 'Fredoka', sans-serif;
    padding: 10px;
   }
   #Valentine .badge ul li{
    padding-top: 15px;
    color: #000000;
    font-weight: lighter;
    position: relative;
    text-align: start;
    padding-left: 60px;
   }
   #Valentine span{
   display: block;
   width: 10px;
   margin-left: 45px;
   margin-top: 17px;
   height: 10px;position: absolute;
   border: 3px solid #ffd40d;
   border-radius: 50%;
}

#expets h2{
        color: black;
        font-family: 'Fredoka', sans-serif; 
        font-weight:bolder;
        font-size: 45px;
        text-transform:uppercase;
        position: relative;
        
      }
#expets h2::before{
        content: "";
        height: 6px;
        width: 20%;
        top: 55px;
        left: 40%;
        border-radius: 500px;
        background-color: #ffd40d;
        position: absolute;
        }
#chef {
            position: relative;
        }
#chef .badge{
            position: absolute;
            left: 20%;
            bottom: -15%;
            background-color: #f7f7f7;
            align-items: center;
            text-align: center;
            padding: 25px;
            z-index: 1;
            border: 3px solid rgb(207, 202, 202) ;
        }
#chef .badge p{
            color:red ;
            padding-top: 10%;
            font-size: 15px;
        }
#chef .badge h3{
            font-size: 32px;
            color: black;
            font-family: 'Fredoka', sans-serif;
            font-weight: bolder;
            margin-bottom: 20px;
        }
#chef .badge span{
            color:rgb(172, 170, 170);
            margin-top: 10px;
            padding: 5px;
        }
#chef .badge span:hover{
            color: rgba(255, 0, 0, 0.593);
            transition: 0.2s ease-in-out;
        }
#chef .badge:hover{
            border: 3px solid rgba(255, 255, 0, 0.844);
        }
#chef .badge img{
            margin-top: 20px;
        }
#app{
    background-color:#f5f8fd;
    margin-top: 150px;
     margin-bottom: 150px;
    height: 473px;
}

#app-contant {
    padding-left: 80px;
}
#app-contant span{
    display: block;
    width: 15px;
    height: 15px;
    border: 5px solid #ffd40d;
    border-radius: 50%;
    margin-right: 10px;
}
#app-contant p{
    font-size: 15px;
    color: red;
    padding-top: 30px;
    font-family: 'Fredoka', sans-serif ; 
    font-weight: 600;
}
#app-contant h3{
    font-size: 40px;
    font-weight: bolder;
    color: black;
    font-family: 'Fredoka', sans-serif ; 
    padding-bottom: 20px;
}
#app-contant h6{
    font-weight: lighter;
    font-size: 22px;
}
#appimg img{
    width: 100%;
    height: 70%;
    background-color: #f3274c;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    padding-left: 5px;
    padding-top:15px;
}
#Recentnews {
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
}
#Recentnews h2{
    font-weight: bolder;
    font-family: 'Fredoka', sans-serif ;
    font-size: 50px;
    position: relative;
    margin-bottom: 60px;
}
#Recentnews h2::before{
    content: "";
    height: 6px;
    width: 25%;
    top: 55px;
    left: 40%;
    border-radius: 500px;
    background-color: #ffd40d;
    position: absolute;
    }
#news-content img{
    border-radius: 5px;
}
#news-content #newsimg{
    height: 200px;
    border-radius: 30px;
    width: 200px;
}
#news-content p{
    font-size: 12px;
    font-weight: bolder;
    width: 42%;
    background-color: #ffd40d;
    overflow: hidden;
    font-family: 'Fredoka', sans-serif ; 
    border-radius: 5px;
}
#news-content h3{
    font-family: 'Fredoka', sans-serif ; 
    font-weight: bolder;
    width: 80%;
    font-size: 26px;
}
#news-content h3:hover{
    color: #f3274c;
    transition: 0.2s ease-in-out;
}
#news-content span{
    font-family: 'Fredoka', sans-serif ; 
    font-weight: bolder;
    opacity: 0.5;
}
#newsimg{
    height:150px;
}
#insta{
    background-image: url(../foodie/public/images/socialbanner.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 111px;
    padding-bottom: 211px;
    position: relative;
}
#insta h6::before{
    content: "";
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color:white;
    opacity: 0.85;
    position: absolute;
    }
    #insta h2{
        font-size: 50px;
        z-index: 4;
        color:black;
        font-family: 'Fredoka', sans-serif ; 
        font-weight: bolder;
    }
    #insta p{
        color: #555;
        z-index: 3;
        font-size: 15px;
    }
    #insta span{
        font-size: 55px;
        z-index: 2;
        color: #f3274c;
        padding: 5px;
    }
    #insta a{
        z-index: 1;
        text-decoration: none;
    }
    footer{
        background-image: url(../foodie/public/images/fimg.png);
        background-size: cover;
        background-position: center;
        padding-top: 100px;
        background-color: #f5f8fd;
        margin-top: 50px;
    }

    #flogo{
        background-color: #f3274c;
         padding-left: 50px; 
        border-radius: 20px; 
        width: 35%;
    }
    #aboutt h1, #menuu h1{
        font-family: 'Fredoka', sans-serif ;
        font-weight: bolder;
        letter-spacing: 1px;
        font-size: 20px;
         position: relative;
    }
    #aboutt h1::before, #menuu h1::before{
        content: "";
        background-color: #ffd40d;
        width: 30%;
        position: absolute;
        border-radius: 50px;
        top:25px;
        left: 18%;
        height: 3px;
    }
    #aboutt ul li:hover,#menuu ul li:hover{
        color:  #f3274c;
        transition: 0.2s ease-in-out;
    }
    form input{
        font-family: 'Fredoka', sans-serif ;
        text-transform:uppercase;
        width: 100%;
        height: 40px;
        border-radius: 10px;
        padding-left: 30px;
        font-family: 'Epilogue';
        border: 1px solid #dedede;
        margin-bottom: 10px;
        }
        .footer-bootem {
            display: flex;
            align-items: center;
            /* justify-content: space-between; */
            margin-top: 50px;
            width: auto;
            padding-bottom: 40px;
            padding-top: 34px;
            border-top: 6px solid #ffd40d;
            margin-left: 60px;
            margin-right: 60px;
        } 
        .header-social-media span{
            color: #f3274c;
            font-family: 'Fredoka', sans-serif ;
            font-weight: 650;
        }       
        .header-social-media h6{
            font-family: 'Fredoka', sans-serif ;
            font-weight: 650;
        }
        .footer-social-media a{
            text-decoration: none;
            color: #000000;
            font-family: 'Fredoka', sans-serif ;
            font-weight: 600;
            padding-left: 30px;
            font-size: 12px;
        }
        .footer-social-media a:hover{
            color: #f3274c ;
            transition: 0.2s ease-in-out;
        }
            /* keyframes */
    @keyframes anime{
    0%{
        transform: translateX(-100px);
    }
    } 
    @keyframes anime2{
        0%{
        transform: translateX(100px);
        }
    } 
    @keyframes anime3{
        0%{
        transform: scaley(-100%);
        }
    } 
    @keyframes flip{
        0%{
            transform: scalex(-100%);
        }
    }



                /* media qery */
    @media screen  and (max-width: 768px){
        .navbar-toggler{
        right: 0;
        margin-left: 180%;
    }
    .navbar-nav{
        text-align: center;
        background-color:transparent;
    }
    .navbar-nav li a{
        font-weight: bold;
        color: rgba(0, 0, 0, 0.728);
    }
    .one{
        top: 15%;
        left: 5%;
        word-spacing: 5px;    
    }
    .carousel-caption h2{
        font-size: 25px;
    }
    .weekly-special{
        width: 40%;
        bottom: 50px;
        right: 20px;
    }
 
    .secound {
        left: -100px;
        top:30px;
    }
    .secound h1{
        font-size: 35px;
    }
    .secound h3{
        font-size: 15px;
    }
    .secound h6{
        font-size: 12px;
    }
    .three {
        left: -100px;
        top:5px;
    }
    .three h1{
        font-size: 35px;
        padding-bottom: 0px;
    }
    .three h3{
        font-size: 10px;
    }
    .three h6{
        font-size: 12px;
    }
    .weekly-special span{
    width: auto;
    }
    .RESTAURANT span::before{
        content: "";
        position: absolute;
        height: 25px;
        width: 2px;
        left: 20%;
        background-color: rgb(250, 85, 85);
    }
    #dinner{
        margin-top:-150px;
    }
    #restaurantss{
        padding-top: 20px;
        padding-bottom: 0px;
    }
    #bed{
        margin-top: -150px;
    }
    #menu::before{
        content: "";
        height: 6px;
        width: 50%;
        top: 50px;
        left: 25%;
        border-radius: 500px;
        background-color: #ffd40d;
        position: absolute;
    }
    .nav-item{
        padding: 0px;
        padding-top: 5px;
        
    }
    .nav-link img{
        display: none;
        height: 0px;
        width: 0px;
    }
    #menulist .nav-item .nav-link{
        height: 30px;
        width: 90px;
        padding-bottom: 25%;
    }
    #menulist .nav-item a h6{
        padding-top: 0px;
       font-weight: bold;
    }
    #bbq{
        margin-bottom: 10%;
    }
    #bbq img{
        height: 800%;
        width: 500%;
    }
    #bbq .badge, #cook .badge{
        left: 55%;
    }
    #chef #chefimg{
        margin-top: 100px;
    }
    #expets h2{
        font-size: 30px;
    }
    #expets h2::before{
        content: "";
        height: 6px;
        width: 43%;
        top: 45px;
        left: 30%;
        }
        #Recentnews {
            margin-left: 0px;
            margin-right: 0px;
        }
    #Recentnews  h2::before{
        content: "";
        height: 6px;
        width: 15%;
        top: 30px;
        left: 42%;
        }
        #Recentnews h2{
            font-size: 25px;
        }  
        #app{
            background-color:#f5f8fd;
            height: 595px;
        }
        #appimg{
            padding-left: 30px;
        }
        #news-content p{
            width: 83%;
        }
        #news-content h3{
            font-size: 15px;
            width: 100%;
        }
        #news-content span{
            width: 100%;
            font-size: 13px;
        }
        #flogo{
            width: 80%;
            margin-left: 0px;
            margin-bottom: 20px;
        } 
        #aboutt h1::before, #menuu h1::before{
            content: "";
            background-color: #ffd40d;
            width: 15%;
            position: absolute;
            border-radius: 50px;
            top:25px;
            left: 10%;
            height: 3px;
        }  
        .header-social-media h6 {
            font-size: 13px;
            margin-left: -35px;
        }
        .footer-social-media a{
            padding-left: 5px;
        }   
}
@media screen and (min-width:319px) and (max-width: 375px){
  #bbq h2,#cook h2{
    font-size: 22px;
  }
  #bbq p,#cook p{
    font-size: 11px;
  }  
  #bbq span,#cook span{
    font-size: 15px;
  }
  #bbq .badge ,#cook .badge {
    padding: 10px; 
 }
    .weekly-special ul li{
       padding-right: 4px;
    }
    .weekly-special h4{
        font-size: 20px;
    }
    .weekly-special .img-fluid{
        position: absolute;
        height: 30px;
        right: 2px;
        top: 22px;
        width: 30px;
    }
    .RESTAURANT span::before{
        content: "";
        position: absolute;
        height: 25px;
        width: 2px;
        left: 25%;
        background-color: rgb(250, 85, 85);
    }
    #dinner{
        margin-top: -150px;
    }
    #menu::before{
        content: "";
        height: 6px;
        width: 55%;
        top: 55px;
        left: 22%;
        border-radius: 500px;
        background-color: #ffd40d;
        position: absolute;
    }
    #chef .badge{
        left: 10%;
    }
    #news-content #newsimg{
        height: 150px;
        width: 150px;
    }
    #news-content p{
        font-size: 12px;
        width: 100%;
    }
    #news-content h3{
        font-size: 15px;
    }
    #news-content span{
        font-size: 10px;
    }
    #app{
        background-color:#f5f8fd;
        height: 616px;
    }
    #aboutt h1::before, #menuu h1::before{
        content: "";
        background-color: #ffd40d;
        width: 20%;
        position: absolute;
        border-radius: 50px;
        top:25px;
        left: 10%;
        height: 3px;
    }
    #insta h2{
        font-size: 25px;
    }
    #insta p{
        font-size: 10px;
    }
    #flogo{
        margin-bottom: 30px;
    }
    .header-social-media h6 {
        font-size: 15px;
        margin-left: -45px;
    }
    .footer-social-media a{
        padding-left: 0px;
        font-size: 15px;
    }  
    .footer-bootem{
        margin-left: 5px;
        margin-right: 5px;
    }
}
